doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Smart Device
    link(rel="stylesheet" href="css/style.min.css")
  body
    header.header
      div.container
        div.header__top
          a.header__logo
            picture
              source(media="(max-width: 767px)" srcset="./img/brain-small.svg")
              img(src="./img/icon-logo.svg")
          nav.header__nav
            ul.header__nav-list
              li.header__nav-item
                a.header__nav-link(href="maltio: info@sd.ru")
                  svg.header__icon(width="19" height="14" role="img" aria-label="Почта")
                    use(xlink:href="./img/sprite.svg#icon-email")
                  span info@sd.ru
              li.header__nav-item
                a.header__nav-link(href="tel:+74950005252")
                  svg.header__icon.header__icon--tel(width="18" height="18" role="img" aria-label="Телефон")
                    use(xlink:href="./img/sprite.svg#icon-phone")
                  span +7 (495) 000 52 52
          a.header__call-btn(href="#") Заказать звонок
        div.header__bottom
          h1 Печатные платы
          b производство и монтаж, поставка комплектующих, блоков и модулей
          a.header__link-modal(href="#")
            span Получить бесплатную консультацию
            p Бесплатная консультация
          a.header__scroll(href="#about") Скролл вниз
    main
      section.features
        div.container
          h2.visually-hidden Преимущества компании
          ul.features__list
            li.features__item.features__item--time
              svg(width="29" height="35" role="img")
                use(xlink:href="./img/sprite.svg#icon-stopwatch")
              span Оперативные сроки
              p Усовершенствованная логистическая система позволяет нам просчитывать стоимость, производить и доставлять заказы плат и комплектующих в самые короткие сроки
            li.features__item.features__item--suppliers
              svg(width="35" height="35" role="img")
                use(xlink:href="./img/sprite.svg#icon-hired")
              span Крупные поставщики
              p Нашими поставщиками являются такие крупные мировые компании как: OSRAM, CREE, HOLGLITRONIC, REFOND. Сотрудничество с такими компаниями обеспичивает хорошее качество нашей продукции.
            li.features__item.features__item--confidentiality
              svg(width="36" height="31" role="img")
                use(xlink:href="./img/sprite.svg#icon-detective")
              span Полная конфиденциальность
              p По желанию клиента  мы обеспечиваем полную конфеденциальность.
            li.features__item.features__item--price
              svg(width="35" height="35" role="img")
                use(xlink:href="./img/sprite.svg#icon-tag")
              span Персонализация стоимости
              p Мы  подбираем определенную фабрику, поставщиков, вид доставки, чтобы установить ту цену, которая Вас устраивает.
      div.container
        section.about
          h2 О компании
          p Мы поставляем электронные комплектующие, производим печатные платы и предоставляем мировые технологии с 1997 года. Выполняем срочные заказы и пилотные образцы до 10 дней.
          p Наши поставщики - мировые производители электронных компонентов: OSRAM, CREE, HOLGLITRONIC, REFOND. Печатные платы и комплектующие Service Devices применяются на предприятиях Российских Железных Дорог
            span ..
            span (РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.
          a.about__excerpt(href="#") Подробнее
      section.offer
        h2 Service Device предлагает следующие товары и услуги
          ul.offer__list
            li.offer__item
              p Производство
                br
                |печатных плат
              a(aria-label="Подробнее")
            li.offer__item
              p Монтаж печатных
                br
                |плат
              a(aria-label="Подробнее")
            li.offer__item
              p Комплектующие
                br
                |для светотехники
              a(aria-label="Подробнее")
      section.question
        h2 Остались вопросы? Задайте их нам!
        p Мы проконсультируем Вас бесплатно
        form.question__form.form-question
          div.form-question__inputs
            div.form-question__inp
              label.visually-hidden(for="name") Имя
              input#name(type="text" name="name" placeholder="Имя")
            div.form-question__inp
              label.visually-hidden(for="tel") Телефон
              input#tel(type="tel" name="tel" placeholder="Телефон")
          div.form-question__text
            label.visually-hidden(for="text") Ваш вопрос
            textarea#text Ваш вопрос
          div.form-question__btns
            div.form-question__check
              input#agree(type="checkbox" name="agree" checked)
              label(for="agree") Я согласен на обработку  персональных данных
            button.form-question__btn(type="submit") Задать вопрос
    footer.footer
      div.container
        div.footer__top
          div.footer__socials.socials
            a(href="#")
              img(src="./img/icon-logo.svg")
            ul.socials__list
              li.socials__item
                a(href="#")
                  img(src="./img/icon-f.svg")
              li.socials__item
                a(href="#")
                  img(src="./img/icon-o.svg")
              li.socials__item
                a(href="#")
                  img(src="./img/icon-vk.svg")
          div.footer__nav.footer-nav
            details
              summary Разделы сайта
              ul.footer-nav__list
                each name in ['О компании', 'Продукты', 'Производство печатных плат', 'Монтаж печатных плат', 'Комплектующие', 'Доставка', "Контакты"]
                  li.footer-nav__item
                    a(href="#")= name
          div.footer__contacts
            details
              summary Наш офис
              address
                p г. Мытищи, Олимпийский проспект, д.10
                a(href="tel:+74955894050") +7 (495) 589-40-50
                a(href="tel:+79250038767") +7 (925) 003-87-67
                a(href="tel:+792692608079") +7 (926) 926-080-79
        div.footer__bottom
          p Все права защищены
          span 1999-2018 SD Service Devices
          a.footer__copyright Условия конфиденциальности
          a.footer__developed Developed by wow studio
