.about {
  color: $gray;
  padding: 76px 9.28% 15px 300px;
  position: relative;

  &::before{
    @include pseudo();
    @include size(160px, 313px);
    background-image: url("../img/year.png");
    background-repeat: no-repeat;
    left: 92px;
    top: 81px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/year2x.png");
    }
  }

  @media (max-width: $m-end) {
    padding-top: 27px;
    padding-left: 186px;
    padding-right: 6px;
    padding-bottom: 20px;

    &::before{
      @include size(185px, 365px);
      left: 0;
      background-size: 260px 361px;
      background-position: center;
      top: 25px;
    }
  }

  @media (max-width: $s-end) {
    padding: 40px 0 10px 2px;
    &::before{
      display: none;
    }
  }
}

.about h2 {
  font-family: $roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 23px;

  @media (max-width: $m-end) {
    font-size: 32px;
    line-height: 140.62%; //45
  }

  @media (max-width: $s-end) {
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 20px;
  }
}

.about p {
  font-family: $mono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;

  &:nth-of-type(1n){
    margin-bottom: 20px;
  }
  &:nth-of-type(2n){
    margin-bottom: 38px;
  }

  @media (max-width: $m-end) {
    &:nth-of-type(2n){
      margin-bottom: 43px;
    }
  }
  @media (max-width: $s-end) {
    &:nth-of-type(1n){
      margin-bottom: 39px;
    }
    &:nth-of-type(2n){
      margin-bottom: 30px;
    }
  }
}

.about span{
  &:nth-of-type(1n){
    display: none;
  }
  &:nth-of-type(2n){
    display: inline;
  }

  @media (max-width: $m-end) {
    &:nth-of-type(1n){
      display: inline;
    }
    &:nth-of-type(2n){
      display: none;
    }
  }
}

.about__excerpt{
  display: block;
  width: 180px;
  border: 1px solid $blue;
  font-family: $roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;
  border-radius: 5px;
  padding: 13px 0;

  &:hover,
  &:focus{
    outline: none;
    color: $white;
    box-shadow: inset 180px 0 0 $blue;
    transition: box-shadow 600ms ease-in 50ms, color 300ms linear;
  }
  &:active {
    color: rgba($white, 0.7);
  }
}
