.features {
  padding-top: 112px;

  @media (max-width: $m-end) {
    padding-top: 53px;
  }
}

.features__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 8.6%;
  justify-content: space-between;

  @media (max-width: $m-end) {
    padding: 0;
  }
}

.features__item {
  list-style: none;
  position: relative;
  flex: 0 1 48.8%;
  padding: 97px 38px 65px 43px;
  margin-bottom: 29px;

  &::before {
    @include pseudo();
    @include size(3px, 100%);
    background-color: $blue;
    left: 0;
    top: 0;
  }

  &--confidentiality,
  &--price {
    padding-bottom: 76px;
  }

  &:hover {
    background-color: $blue;
    transition: all 700ms ease-in;

    svg {
      stroke: $white;
    }

    span,
    p {
      color: $white;
    }
  }

  @media (max-width: $m-end) {
    padding: 65px 18px 22px 29px;
    margin-bottom: 29px;
    border: 1px solid $light-gray;
    flex: 0 0 345px;

    &--confidentiality,
    &--price {
      padding-bottom: 36px;
    }
    &::before {
      width: 2px;
    }
  }
}

.features__item svg {
  position: absolute;
  top: 41px;

  @media (max-width: $m-end) {
    top: 24px;
  }
}

.features__item span {
  font-family: $roboto;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
  display: block;
  margin-bottom: 16px;

  @media (max-width: $m-end) {
    margin-bottom: 8px;
  }
}

.features__item p {
  font-family: $mono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $gray;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $m-end) {

  }
}
