.footer {
  padding-top: 64px;
  padding-bottom: 15px;
  overflow-x: hidden;
  position: relative;

  a:focus,
  a:hover {
    outline: none;
    color: $blue;
  }

  @media (max-width: $m-end) {
    padding-top: 19px;
  }

  @media (max-width: $s-end) {
    padding-top: 45px;
    padding-bottom: 16px;
  }
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 45px;

  &::after {
    @include pseudo();
    bottom: 0;
    width: 200%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: $light-gray;
  }

  @media (max-width: $m-end) {
    padding-bottom: 36px;
  }

  @media (max-width: $s-end) {
    padding-bottom: 0;
  }
}

.footer__left {
  margin-right: auto;
  margin-bottom: 10px;
  padding-right: 20px;

  span {
    display: none;
  }

  @media (max-width: $m-end) {
    flex: 0 0 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 0;
    padding-bottom: 24px;
    align-items: center;
    position: relative;

    span {
      display: inline;
      font-family: $mono;
      font-weight: normal;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: rgba($indigo, 0.5);
      margin-top: 4px;
      max-width: 300px;
      min-width: 0;
      word-break: break-word;
    }

    &::after {
      @include pseudo();
      width: 200%;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      background-color: $light-gray;
    }
  }

  @media (max-width: $s-end) {
    padding-bottom: 41px;

    span {
      flex: 0 0 100%;
      text-align: center;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
}

.footer__logo {
  display: block;
  margin-bottom: 49px;

  @media (max-width: $m-end) {
    margin-bottom: 0;
    align-self: flex-start;
  }

  @media (max-width: $s-end) {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 28px;

    img {
      margin: auto;
    }
  }
}

.footer__socials {
  @media (max-width: $m-end) {
    margin-top: 11px;
    max-width: 147px;
    align-self: flex-start;
  }

  @media (max-width: $s-end) {
    flex: 0 0 100%;
    max-width: none;
    margin-top: 0;
  }
}

.footer__sum {
  font-family: $roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $indigo;
  margin-bottom: 25px;
  position: relative;
  pointer-events: none;

  &::-webkit-details-marker {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  @media (max-width: $s-end) {
    margin-bottom: 0;
    padding-top: 30px;
    display: block;
    padding-bottom: 27px;
    padding-right: 30px;
    position: relative;
    pointer-events: auto;

    &::before,
    &::after {
      @include pseudo();
      width: 16px;
      height: 1px;
      background-color: $bright-gray;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all 600ms;
    }

    details[open] &::after {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

.footer__nav {
  flex: 0 0 450px;
  margin-right: 14.7%;

  @media (max-width: $m-end) {
    flex: 0 0 50%;
    margin: 0;
    margin-top: 40px;
  }

  @media (max-width: $s-end) {
    flex: 0 0 100%;
    margin-top: 0;
    position: relative;

    &::after {
      @include pseudo();
      width: 200%;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $light-gray;
      bottom: 0;
    }
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 100px;
  margin: 0;
  padding: 0;

  @media (max-width: $m-end) {
    flex-direction: row;
    max-height: fit-content;
  }

  @media (max-width: $s-end) {
    padding-bottom: 30px;
  }
}

.footer__nav-item {
  list-style: none;
  max-width: 308px;
  width: 302px;
  min-width: 0;
  word-break: break-word;
  padding-right: 5px;

  @media (max-width: $m-end) {
    flex-basis: 100%;
    padding-right: 0;
  }
}

.footer__nav-link,
.footer__contacts p,
.footer__contacts a {
  font-family: $mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $indigo;
  opacity: 0.5;
}

.footer__nav-link {
  max-width: 243px;
  min-width: 0;
  word-break: break-word;
}

.footer__contacts {
  @media (max-width: $m-end) {
    flex: 0 0 50%;
    margin-top: 40px;
    padding-left: 16px;
  }

  @media (max-width: $s-end) {
    flex: 0 0 100%;
    margin-top: 0;
    padding-left: 0;

    address {
      padding-bottom: 30px;
    }
  }
}

.footer__contacts p {
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $s-end) {
    margin-right: 40px;
  }
}

.footer__contacts a {
  display: block;
}

.footer__bottom {
  font-family: $mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $indigo;
  opacity: 0.5;
  padding-top: 13px;

  p {
    margin: 0;
    margin-right: 5%;
  }

  span {
    margin-right: 10.3%;
  }

  @media (max-width: $m-end) {
    justify-content: space-between;
    padding: 21px 0 9px;

    p {
      display: none;
    }

    span {
      display: none;
    }
  }

  @media (max-width: $s-end) {
    padding-top: 29px;
    justify-content: center;
  }
}

.footer__copyright {
  margin-right: 28.3%;

  @media (max-width: $m-end) {
    margin-right: 0;
    padding-right: 10px;
  }

  @media (max-width: $s-end) {
    padding: 0;
    margin-bottom: 20px;
    flex: 0 0 100%;
    text-align: center;
  }
}

.footer__developed {
  @media (max-width: $s-end) {
    flex: 0 0 100%;
    text-align: center;
  }
}
