.form-question {
  input,
  textarea {
    font-family: $mono;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    background-color: rgba($white, 0.1);
    border: 0;

    &::placeholder {
      color: inherit;
      font-family: inherit;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba($white, 0.2);
    }

    &:focus {
      outline: 1px solid $white;
    }
  }
}


.form-question__inp {
  display: inline-block;
  margin-right: 21px;
  margin-bottom: 40px;

  &:nth-of-type(2n) {
    margin-right: 0;
  }

  input {
    width: 272px;
    padding: 12px 10px 16px 18px;
  }

  &--m {
    width: 100%;
    margin-bottom: 33px;

    input {
      width: 100%;
      padding-left: 27px;
    }
  }

  @media (max-width: $m-end) {
    input {
      width: 280px;
    }
  }
  @media (max-width: $s-end) {
    margin-right: 0;
    width: 100%;
    margin-bottom: 32px;

    input {
      width: 100%;
    }
  }
}


.form-question__text {
  margin-bottom: 38px;

  textarea {
    width: 570px;
    height: 154px;
    resize: none;
    padding: 11px 10px 10px 19px;
  }

  &--m {
    width: 100%;
    margin-bottom: 24px;

    textarea {
      width: 100%;
      height: 104px;
      padding-left: 26px;
    }
  }

  @media (max-width: $m-end) {
    margin-bottom: 42px;
    textarea {
      width: 591px;
      height: 160px;
    }
  }
  @media (max-width: $s-end) {
    width: 100%;
    margin-bottom: 25px;

    textarea {
      width: 100%;
      height: 104px;
    }
  }
}


.form-question__btns {
  display: flex;
  justify-content: space-between;

  &--m {
    flex-wrap: wrap;
  }

  @media (max-width: $s-end) {
    flex-wrap: wrap;
  }
}

.form-question__check {
  font-family: $mono;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  margin-top: 8px;
  flex-basis: 50%;

  &:hover {
    opacity: 1;
  }

  label {
    display: block;
    padding-left: 36px;
    position: relative;

    &::before {
      @include pseudo();
      @include square(16px);
      background-color: transparent;
      border: 1px solid $white;
      left: 2px;
    }
  }

  input:checked ~ label::after {
    @include pseudo();
    @include size(8px, 5px);
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    left: 6px;
    top: 5px;
  }

  &--m {
    flex: 0 0 100%;

    label {
      padding: 0 43px 0 50px;
    }
  }

  @media (max-width: $s-end) {
    flex-basis: 100%;
    margin-top: 0;
  }
}

.form-question__btn {
  font-family: $roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $white;
  background-color: transparent;
  flex: 0 0 272px;
  color: inherit;
  order: -1;
  border-radius: 5px;
  padding-bottom: 14px;
  padding-top: 14px;
  margin-right: 36px;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: inset 272px 0 0 0 $white;
    color: $blue;
    transition: box-shadow 600ms ease-in 50ms, color 300ms linear;
  }

  &:active {
    color: rgba($blue, 0.7);
  }

  &--m {
    flex: 0 0 100%;
    margin-bottom: 27px;

    &:hover,
    &:focus {
      background-color: $white;
    }
  }

  @media (max-width: $m-end) {
    flex-basis: 279px;
    margin-right: 40px;
  }
  @media (max-width: $s-end) {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
}
