@keyframes modal {
  0%{
    top: 0;
  }
  70%{
    top: 50%;
  }
  100%{
    top: 50%;
    transform: translateY(-50%);
  }
}
.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba($black, 0.5);
}

.modal__box {
  position: absolute;
  width: 490px;
  padding: 31px 38px 37px;
  background-color: $blue;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  color: $white;
  animation: modal 600ms ease-in;
  animation-fill-mode: forwards;

  @media (max-width: $s-end) {
    width: 100%;
  }
}

.modal h2 {
  font-family: $roboto;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  margin: 0;
  margin-bottom: 12px;
}

.modal p {
  font-family: $mono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-right: 30px;
  margin-bottom: 30px;
}

.modal__close {
  @include square(17px);
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 19px;
  right: 20px;
  padding: 0;

  &::before,
  &::after{
    @include pseudo();
    width: 17px;
    height: 1px;
    background-color: $white;
    transition: al 300ms;
  }

  &::before{
    transform: rotate(45deg);
  }
  &::after{
    transform: rotate(-45deg);
  }

  &:focus,
  &:hover{
    outline: none;
    transform: scale(1.2);
  }
}
