.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (max-width: $s-end) {
    justify-content: center;
  }
}

.socials__item {
  list-style: none;
  margin-right: 13px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__svg {
  fill: $white-gray;
}

.socials__link {
  display: block;

  &:hover svg,
  &:focus svg {
    fill: $blue;
  }
}
