$mono: "PT Mono", "Arial", sans-serif;
$roboto: "Roboto Condensed", "Arial", sans-serif;

//size
$small: 320px;
$medium: 768px;
$large: 1024px;

$s-end: 767px;
$m-end: 1023px;
$l-end: 1472px;

//colors
$white: #ffffff;
$black: #000000;
$blue: #00b2ff;
$indigo: #1B2D37;
$gray: #666666;
$light-gray: #626962;
$bright-gray: #C4C4C4;
$light-gray: #EBEBEB;
